
#headings{
    font-family: Helvetica, sans-serif;
    font-size: 2.5em;
	color: black;
    background-color:white;
	text-align: center;
    padding-top: .1em;
    padding-bottom: .25em;
}
#subheadings {
    font-family: Helvetica, sans-serif;
    font-size: 1.25em;
    color: black;
    position:relative;
    bottom: 1.5em;
    background-color:white;
    text-align: center;
    padding-bottom: .1em;
}

#text{
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    position: relative;
    top: 4em;
    color: black;
    text-align: left;
}

#img-circle{
    border-radius: 2%;
    width: 75%;
}


.projectintro{
    font-family: 'Times New Roman', serif;
    font-size: 1.25em;
    position: relative;
    top: 18.6em;
    left: 28em;
}

#addButton{
    font-family: 'Times New Roman', serif;
    background-color: darkslategrey;
    color: antiquewhite;
    width: 10em;
    height: 5em;
}
.container-fluid{
    background-color: lightcyan;
    padding: 2em;
}
.col-lg-offset-5{
    vertical-align:auto;
}
.col-sm-4{
    vertical-align:auto;
}
.buttons{
    padding: 4em;
}
.row{
    padding-bottom: 3em;
}