
html {
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 17%, rgba(33,180,226,1) 78%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(17%, rgba(183,222,237,1)), color-stop(78%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 17%, rgba(33,180,226,1) 78%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 17%, rgba(33,180,226,1) 78%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 17%, rgba(33,180,226,1) 78%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(183,222,237,1) 17%, rgba(33,180,226,1) 78%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
}

h1 {
    font-family: Helvetica, sans-serif;
    font-size: 2em;
	color: black;
	text-align: center;
    padding: 0px;
}

.text{
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    color: black;
    text-align: center;
}

.img-circle{
    border-radius: 2%;
    width: 25%;
    display: block;
    position: relative;
    left: 5em;
    top: 1em;
    
}

.context{
    font-family: 'Times New Roman', serif;
    font-size: 1em;
    display: block;
    width: 30em;
    float: right;
    position: relative;
    right: 15em;
    top: 9em;
}

.projectintro{
    font-family: 'Times New Roman', serif;
    font-size: 1.25em;
    position: relative;
    top: 18.6em;
    left: 28em;
}

#addButton{
    font-family: 'Times New Roman', serif;
    background-color: darkslategrey;
    color: antiquewhite;
    width: 125px;
    height: 40px;
    position: relative;
    top:  25.5em;
    left: 50em;
}

